extends ../layout/page.pug

block content
  form(role = 'form' method = 'GET' action = route('users'))
    input(type = 'search', name = 'term', value = term)
    input(type = 'submit' value = 'search')

  p
    a(href=route('newUser')) Создать пользователя

  table
    tr
      th Идентификатор пользователя
      th Имя пользователя
      th Емейл пользователя

    each user, index in users
      tr
        td
          a(href=route('user', { id: user.id })) #{user.id}
        td= user.name
        td= user.email